*{
    font-family: 'PT Sans', sans-serif;
    
}

header{
    height:60vh;
    background-color:lightgray;
}

:root{
    --first-color:#fff;
    --second-color:#000;
    --third-color:#FF8C00;
    --fourth-color:#ffA500;
}




/* header */
