* {
    font-family: "PT Sans", sans-serif;
  }
  
  :root {
    --first-color: #fff;
    --second-color: #000;
    --third-color:#ff4d00;
    --fourth-color: #ff8c00 ;
  }
  
  /* navigation start */
  .navbar li {
    position: relative;
  }
  
  li::before {
    content: "";
    position: absolute;
  }
  
  #nav small {
    position: relative;
    top: -10px;
}

#nav #btn2{
  background-color: var(--third-color);
}
/* navigation end */


/* header */

header{
    min-height:85vh;
    
}

#header h2{
    letter-spacing: 3px;
    font-size: 40px;
  }
  
  #header span {
    color: var(--third-color);
  }
  
  #header p {
    font-size: 13px;
    letter-spacing: 2px;
  }
  
  #header a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  #header .header-image1 {
    width: 90px;
    height: 106px;
    object-fit: cover;
    object-position: 40% 10%;
    /* display: block; */
  }
  
  #header .header-image2 {
    width: 165px;
    height: 220px;
    object-fit: cover;
  }
  
  #header a i {
    font-size: 20px;
  }

  #header #btn1{
    background-color: var(--third-color);
  }
/* 
  @media (max-width:400px) {
    #header #header-title{
      width: 300px;
      margin-left: 20px;
    }
  } */
  
  /* header end */
  
  /* faq start */
  .accordion-button::after{
    background-image: url('../images/ic_baseline-plus.svg') ;
  }

  .accordion-button:not(.collapsed)::after {
    background-image:url('../images/maki_cross1.svg');
  }

  .accordion-button:not(.collapsed){
    background-color: var(--first-color);
    color: var(--third-color);
  }  
  #faq .card-header {
    color: var(--fourth-color);
  }
  
  .accordion-button:focus {
    border-color: white !important;
    box-shadow: none !important;
  }
  #faq .heading-line6 {
    width: 140px;
    height: 5px;
    background: linear-gradient(
      to right,
      var(--second-color) 50%,
      var(--third-color) 50%
    );
  }
  /* faq end */

  /* footer start */
  #footer .link a{
    text-decoration: none;
    color: var(--second-color);
  }

  #footer .line{
    border: 1px solid rgb(238, 236, 236);
    width: 100%;
  }
   /* footer end */

  
  @media (max-width: 576px) {
    #faq #column{
      flex-direction: column-reverse;
    }

    #footer .middle{
      text-align: center;
    }

    footer .middle{
      text-align: center;
    }

    footer .icons{
      justify-content: center;
    }
  }
  