* {
  font-family: "Bricolage Grotesque", sans-serif;
  /* font-family: "PT Sans", sans-serif; */
}

:root {
  --first-color: #fff;
  --second-color: #000;
  --third-color: #ff8c00;
  --fourth-color: #fe4d00;
}

/* Testimonail Section  */
#testimonial .heading-line01 {
  width: 85px;
  height: 5px;
  /* margin: auto; */
  background-color: var(--second-color);
}
#testimonial .heading-line02 {
  width: 85px;
  height: 5px;
  /* margin: auto; */
  background-color: var(--fourth-color);
}
#testimonial .head-line {
  margin-bottom: 10px;
}

#testimonial #main-card {
  box-shadow: 3px 2px 5px black;
  /* background-color: red; */
}

.card {
  width: 100%;
  height: 100%;
}
.button-box .btn1 {
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background-color: red;
}
.button-box .btn2 {
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background-color: green;
}

/* .card-header {
  background-color: aqua;
} */

.card-header .customer-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  #testimonial .box {
    width: 380px;
    height: 300px;
  }

  #testimonial.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  #testimonial .card-body {
    padding: 5px;
  }

  #testimonial .button-box .btn1 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: red;
  }
  #testimonial .button-box .btn2 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: green;
  }

  #testimonial .swiper-button-next {
    transform: rotate(-90deg);
    left: 17px;
    color: #fff;
    /* padding: 20px; */
  }

  #testimonial .swiper-button-prev {
    transform: rotate(-90deg);
    /* margin-top: 100px; */
    color: #fff;
    left: 17px;
  }

  #testimonial .swiper-button-next:after {
    font-size: 30px;
  }
  #testimonial .swiper-button-prev:after {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  #testimonial .box {
    width: 320px;
    height: 300px;
  }
  #testimonial.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

/*@media (max-width: 420px) {
  #testimonial .box {
    width: 250px;
    height: 300px;
  }
  #testimonial .card p {
    font-size: 13px;
  }
  #testimonial .card h6 {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  #testimonial .box {
    width: 200px;
    height: 300px;
  }
  #testimonial .card h6 {
    font-size: 12px;
  }
}*/
